code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
code.hello {
  /* font-size: 60px; */
  font-size: 48px;
  font-family: "Cascadia Code";
}
/** Header START */
.nav-bar-nav,
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav-bar {
  /* position: absolute; */
  padding: 20px 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  z-index: 100;
}
.navbar-expand .navbar-nav .nav-link {
  padding: 0;
}
.nav-container {
  display: flex;
  /* width: 90%; */
  /* max-width: 1440px; */
}
nav {
  display: flex;
  flex: 1;
  margin-top: 0;
  /* margin-right: 70px; */
  margin-left: auto;
  /* padding: 0 30px; */
  font-weight: 700;
  /* background-color: #252830; */
  /* border-radius: 10px; */
}
.nav-link {
  display: block;
  position: relative;
  height: 27px;
  /* margin-top: 26px;
    margin-left: 0;
    margin-right: 0; */
  margin: 15px 0;
  padding: 0 70px 0 0;
  /* line-height: 20px; */
  letter-spacing: 0.2px;
  text-decoration: none;
  text-align: left;
  font-family: navigo, sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.logo {
  padding: 0;
}
.logo img {
  height: 30px;
}
/** Header END */

/** Footer START*/
.footer {
  display: flex;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.socials {
  position:relative;
  display: flex;
  gap: 15px;
  width: 100%;
  max-width: 1440px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.react-container {
  position: absolute;
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.credit {
  font-size: 18px;
}
.git-link {
  flex: 1;
  text-decoration: none;
  color: white;
  font-size: 25px;
  /* background-color: #252830;
    border-radius: 10px; */
  padding: 8px 10px;
}
.git-icon {
  margin-right: 10px;
  font-size: 30px;
}
.react-icon {
  color: #61dafb;
}
.social-icon {
  color: white;
  font-size: 32px;
}
.index-module_type__E-SaG::after {
  font-weight: 300;
}
.twemoji {
  height: 1em;
}
/** Footer END **/
/** Project List START */
.page-description {
  flex: 0 0 33%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.page-title {
  font-size: 50px;
  font-family: "Cascadia Code";
  color: #61dafb;
}
.page-description p {
  font-size: 20px;
}
.project-list {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  padding-bottom: 150px;
}
.project-img {
  width: 500px;
}
.project-title {
  margin-top: 15px;
  font-family: Navigo;
  font-weight: bold;
  color: #D63384;
}
.project-stack-container {
  display: flex;
  gap: 10px;
}
.project-stack {
  height: 1.8em;
}
.markdown-logo {
  filter: invert(1);
}
/** Project List END */
@import url('bootstrap/dist/css/bootstrap.min.css');